doctype 5
html(lang="eng", ng-app="myApp")
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		title Greater Atlanta Pollinator Partnership
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7/leaflet.css')
		//[if lte IE 8]
			link(rel="stylesheet", href="/css/L.Control.Locate.ie.css")
		// <![endif]
		//[if lt IE 9]>
			script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js")
			script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js") 
		// <![endif]
		
		link(rel='stylesheet', href='/css/app.min.css')

	body(ng-controller="MapCtrl")
		div.navbar.navbar-default.navbar-fixed-top
			div.container
				div.navbar-header
					button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#').visible-xs.visible-sm GAPP
					a.navbar-brand(href='#').hidden-sm.hidden-xs Greater Atlanta Pollinator Partnership
				div.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href='/#/add1')<span class="glyphicon glyphicon-plus-sign"></span> Add a pollinator garden
						li
							a(href='/#/about')<span class='glyphicon glyphicon-info-sign'></span> About
						li
							a(href='/download/data.csv', alt='Download the pollinator garden data')<span class='glyphicon glyphicon-download'></span> Download the data
								
		div#map
		block body
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='/bootstrap/dist/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
		script(src='/angular/angular.min.js')
		script(src='/angular-route/angular-route.min.js')
		script(src='//cdn.leafletjs.com/leaflet-0.7/leaflet.js')
		script(src='/js/esri-leaflet.min.js')
		script(src='/js/app.min.js')