!!!
html(ng-app="myApp")
	head
		meta(charset='utf8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		title Greater Atlanta Pollinator Partnership
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css')
		link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css')
		//[if lte IE 8]
			link(rel="stylesheet",href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css")
			link(rel="stylesheet", href="/css/L.Control.Locate.ie.css")
		link(rel='stylesheet', href='/css/app.min.css')

	body(ng-controller="MapCtrl")
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container-fluid
					//- button.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
					//- 	span.icon-bar
					//- 	span.icon-bar
					//- 	span.icon-bar
					a.brand(href='#').hidden-phone Greater Atlanta Pollinator Partnership
					a.brand(href='#').visible-phone GAPP
					p.navbar-btn.pull-right 
						button.btn.btn-primary(ng-click='goAdd()')<i class='icon-plus-sign icon-large'></i><span class='hidden-phone'> Add a pollinator garden</span> 
						| 	&nbsp; 
						button.btn.btn-primary(ng-click='goAbout()')<i class='icon-info-sign icon-large'></i><span class='hidden-phone'> About<span>
						|	&nbsp;
						button.btn.btn-primary(ng-click='downloadData()')<i class='icon-cloud-download icon-large'></i><span class='hidden-phone'> Download the data<span>

					//- div.nav-collapse.collapse
							
		#map-container
			#map
		block body
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.5.1/leaflet.js')
		script(src='js/app.min.js')
			