div(ng-controller='AboutCtrl',modal="shouldBeOpen", close="close()", options="opts")
	div.modal-header
		button(type="button", class="close", ng-click="close()")
			i.icon-remove-circle
		h3 About the project
	div.modal-body
		p The Greater Atlanta Pollinator Partnership (GAPP) is a collaboration between program partners and communities within metro Atlanta to develop pollinator-friendly habitats for butterflies, bees, bumble bees, moths, other beneficial insects, and hummingbirds.
		p For more information about GAPP, please visit our <a href="http://www.gapp.org">homepage</a>.
		p This mapping project is a collaboration between the <a href="http://www.atlantabotanicalgarden.org/">Atlanta Botanical Garden</a> and the Georgia State University <a href="http://geosciences.gsu.edu">Department of Geosciences</a>.


	div.modal-footer
