div(ng-controller='AboutCtrl',modal="shouldBeOpen", close="close()", options="opts")
	div.modal-header
		button(type="button", class="close", ng-click="close()")
			i.icon-remove-circle
		h3 About the project
	div.modal-body
		p This is info about the project


	div.modal-footer
