div(modal="shouldBeOpen", close="closeOne()", options="opts")
	div.modal-header
		button(type="button", class="close", ng-click="closeOne()")
			i.icon-remove-circle
		h3 Add a garden (1/2)
	div.modal-body
		p To add a garden close this window and then click the map where you would like the location
